# =========================
# ВИРТУАЛЬНОЕ ОКРУЖЕНИЕ
# =========================
venv/
.env

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# STREAMLIT (служебное)
# =========================
.streamlit/

# =========================
# ОС / IDE
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# ЛОГИ / ВРЕМЕННЫЕ ФАЙЛЫ
# =========================
*.log
*.tmp